body {
  display: grid;
  grid-template-columns: max(10vw, 150px) auto auto;
  grid-auto-rows: auto;
  padding: 0;
  margin: 0;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}
header {
  grid-area: header;
  background-color: #be0101;
  height: 100px;
}
aside {
  grid-area: sidebar;
  background-color: #0627e4;
  height: calc(100vh - 200px);
  display:flex;
  flex-direction:row;
}

button [class~="sidebutton"] {
  border: 1px solid white;
  background-color: aliceblue;
  color:#0627e4;
  width: 80%;
  height: auto;
}

#content {
  grid-area: content;
  background-color: #d4e20d;
  height: calc(100vh - 200px);
  width: calc(100vw - max(10vw, 150px));
}
footer {
  grid-area: footer;
  background-color: #9f0eff;
  height: 100px;
}
